@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|');
@import 'base/resets';
@import 'base/common';
@import 'base/colors';
@import 'base/elements';
@import 'base/mixins';
@import 'components/blocks';
@import 'components/buttons';
@import 'components/comments';
@import 'components/forms';
@import 'components/icons';
@import 'components/typography';
@import 'components/post';
@import 'layout/aside';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';

html {
  font-family: $body-font;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 1.6;
}

.issue {
  height: 160px;
  width: 160px;
  grid-area: issue;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.issue__title {
  font-size: 0.933rem;
  margin-bottom: 0.1rem;
  text-transform: uppercase;
}

.issue__number {
  display: inline-block;
  color: darkred;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: -0.1em;
}

.issue__date {
  font-size: 1.16rem;
  letter-spacing: -0.03em;
}

/* wordpress classes */

.wp-block-image {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 64px;
}

.wp-image-180,
.wp-image-181,
.wp-image-182,
.wp-image-183,
.wp-image-184 {
  border-radius: 3px;
}

/* utilities */

.hline {
  border-bottom: 1px solid darkgray;
  margin: 4px 0 8px 0;
  width: 100%;
}

.site-mast {
  background: white;
  height: 81px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  z-index: 3;
}

figure.wp-block-image > img {
  margin: 0;
}

figure.wp-block-image > figcaption {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: left;
}

figure.wp-block-image > figcaption:before {
  font-weight: 200;
  content: 'Credit: ';
}
