.has-drop-cap::first-letter {
  font-weight: 900;
  float: left;
  font-family: Georgia;
  font-size: 20px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 4px;
}
