/* post layout */

.post {
  display: grid;
   @include for-desktop-up {
      grid-template-columns: 32px 4fr 1fr;
      grid-gap: 24px 64px;
      grid-template-areas: 'header header header' 'sharing body author' 'sharing body license';
   }

    @include for-tablet-up {
      grid-template-columns: 32px minmax(480px, 4fr);
      grid-gap: 24px 64px;
      grid-template-areas: 'header header' 'author author' 'sharing body' 'license license';
   }

    @include for-phone {
      grid-template-columns: auto;
      grid-template-areas: 'header' 'author' 'body' 'sharing' 'license';
   }

}

.post__sharing {
  grid-area: sharing;
}

.post__sharing--header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  font-size: 0.8rem;
}

.post__sharing--button {}

.post__sharing--button--icon {
  margin: 8px 0 8px 0;
}

.post__sharing--button--text {}

.post__header {
  border: 0 0 1px 0 solid black;
  grid-area: header;
}

.post__header-date {
  font-weight: 400;
}

.post__header-title {
  color: rgba(50, 50, 50, 0.9);
  font-family: Playfair Display;
  font-size: 3.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.08em;
}

.post__author {
  grid-area: author;
}

.post__author-name {
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
}

.post__author-bio {
  margin: 10px 0;
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.post__author-picture {
  vertical-align: middle;
  filter: grayscale(1);
  margin: 0 0 1rem 0;
  border-radius: 2%;
  width: 75%;
  border: 1px solid darkgray;
}

.post__original-article {
  width: 30%;
}

.post__reference {}

.post__reference-citation {}

.post__reference-link {
  text-decoration: none;
}

.post__content {
  margin: 0 0 80px 0;
  color: #454545;
  font-family: $body-font;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6rem;
}

.post__content>p:first-of-type {
  color: #454545;
  font-family: Playfair Display;
  font-size: 1.6rem;
  font-weight: lighter;
  font-style: italic;
  line-height: 2rem;
}

.post__content>p:nth-of-type(2)::first-line {
  font-weight: 900;
  line-height: 1.6rem;
}

.post__featured--image {
  grid-area: feature-image;
}

.post__content>h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
}

.post__content--italic {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid grey;
  font-weight: 100;
  font-style: italic;
}

.post__comments {
  min-height: 500px;
}