$interface-elements: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
  Cantarell, Roboto 'Helvetica Neue';
$body-font: Nunito, sans;
$header-title: Oswald, Helvetica, sans-serif;
$article-header2: Nunito, sans;
$navigation-menu-links: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', -apple-system, sans-serif;

.fs-italic {
  font-style: italic;
}

.fw-800 {
  font-weight: 800;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}
