.footer {
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', -apple-system, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 400px;
  color: lightgray;
  background: rgb(134, 30, 30);
  font-size: 0.8rem;
}

.footer__section {}

.footer__header {
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 800;
}

.footer__seperator {
  border-top: 1px solid white;
}

.footer-container {}

.footer__main {
  margin: 0 auto;
  min-height: 300px;
  display: grid;
  grid-gap: 20px;
  padding-top: 40px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.footer__signup-form {
  width: 100%;
}

.footer__signup-form--submit-btn {
  outline: none;
  text-transform: uppercase;
  color: beige;
  height: 40px;
  width: 30%;
  background: $footer-btn-active;
  border: none;
}

.footer__signup-form--email-input {
  outline: none;
  padding: 10px 12px 10px 12px;
  width: 70%;
  height: 40px;
  border: none;
  height: 40px;
}

.footer__credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 10px 0;
  background: rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
}

.footer__credits-copyright {}