.footer {
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', -apple-system, sans-serif;
  position: relative;
  bottom: 0;
  min-height: 560px;
  color: $color-gray-lighter;
  background: $color-blue-dark;
  font-size: 0.8rem;
  overflow: hidden;
}

.footer__section {
}

.footer__paragraph {
  padding: 12px 0;
  line-height: 1.4rem;
  color: $color-gray-light;
}

.footer__header {
  font-family: $header-title;
  font-size: 1rem;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 200;
  color: $color-gray-lighter;
}

.footer__seperator {
  border-top: 1px solid white;
}

.footer__container {
  margin: 64px auto;
  max-width: 1280px;
  padding: 0 80px;
}

.footer__grid {
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 2fr 1fr;
  grid-column-gap: 10%;
}

.footer__signup-form {
  width: 100%;
}

.footer__signup-form--intro {
  line-height: 1.4rem;
  padding: 12px 0;
}

footer__signup-form--controls {
  width: 100%;
}

.footer__signup-form--submit-btn {
  outline: none;
  text-transform: uppercase;
  color: $color-gray-lighter;
  height: 50px;
  width: 30%;
  background: $color-red-medium;
  border: none;
  margin-left: 1%;
}

.footer__signup-form--email-input {
  outline: none;
  padding: 10px 12px;
  width: 68%;
  height: 50px;
  border: none;
}

.footer__credits {
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0 10px 0;
  background: rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
}

.footer__credits-copyright {
}

.footer__credits-copyright--icon {
  color: $color-red-light;
}

.footer__credits-copyright--link {
  color: $color-gray-lighter;
  text-decoration: none;
}

.footer__credits-copyright--link:hover {
  color: $color-gray-lighter;
  text-decoration: underline;
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding-top: 16px;
}

.footer__nav-list > li {
  text-transform: uppercase;
  margin-right: 8px;
}
