.header {
  padding: 14px 80px 10px 80px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
}

.header__title {
  font-family: $header-title;
}
