$footer-btn-active: #ff0303;

/* HSL */
$color-blue-dark: hsla(206, 55%, 11%, 1);
$color-gray-lighter: hsla(220, 7%, 92%, 1);
$color-gray-light: hsla(220, 7%, 82%, 1);
$color-gray-dark: hsla(197, 7%, 21%, 1);

$color-red-light: hsla(0, 63%, 52%, 1);
$color-red-medium: hsla(0, 63%, 32%, 1);
$color-red-dark: hsla(0, 63%, 12%, 1);
