@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|');
html {
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', -apple-system, sans-serif;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 24px;
  line-height: 1.6;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: #000000;
  background-color: #ffff00;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid silver;
}

legend {
  display: table;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
  font: 112.5%/1.45em georgia, serif;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-kerning: normal;
}

img {
  max-width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

h1 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h2 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.62671rem;
  font-weight: bold;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.38316rem;
  font-weight: bold;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h4 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h5 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.85028rem;
  font-weight: bold;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h6 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.78405rem;
  font-weight: bold;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

hgroup {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 1.45rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 1.45rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

dd {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

figure {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

pre {
  overflow: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding: 1.45rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-radius: 3px;
  background: hsla(0, 0%, 0%, 0.04);
  font-size: 0.85rem;
  line-height: 1.42;
  word-wrap: normal;
}

table {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.45rem;
}

fieldset {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

blockquote {
  margin-top: 0;
  margin-right: 1.45rem;
  margin-bottom: 1.45rem;
  margin-left: 1.45rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

form {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

noscript {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

iframe {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

hr {
  height: 1px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(1.45rem - 1px);
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: none;
  background: hsla(0, 0%, 0%, 0.2);
}

address {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.45rem;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li>ol {
  margin-top: calc(1.45rem / 2);
  margin-bottom: calc(1.45rem / 2);
  margin-left: 1.45rem;
}

li>ul {
  margin-top: calc(1.45rem / 2);
  margin-bottom: calc(1.45rem / 2);
  margin-left: 1.45rem;
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li>p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  text-decoration: none;
  cursor: help;
}

thead {
  text-align: left;
}

td,
th {
  padding-top: 0.725rem;
  padding-right: 0.96667rem;
  padding-bottom: calc(0.725rem - 1px);
  padding-left: 0.96667rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  text-align: left;
  -webkit-font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 3px;
  background-color: hsla(0, 0%, 0%, 0.04);
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono', 'Liberation Mono', Menlo, Courier, monospace;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.grid--161 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.container {
  margin: 128px auto;
  max-width: 1280px;
  padding: 0 80px 0 80px;
}

/* menus */

.menu {
  align-content: flex-end;
}

.menu__list {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  height: 28px;
  text-align: center;
}

.menu__list--item {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.menu__list--item-seperator {
  background-color: #ccc;
  display: block;
  position: absolute;
  height: 28px;
  width: 1px;
  top: 50%;
  margin-top: -14px;
}

.menu__list--item-link {
  color: #332222;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell;
  font-size: 0.9rem;
  position: relative;
  margin: 0 6px 0 6px;
  padding: 10px 8px 10px 8px;
}

.menu__list--item-link:hover {
  color: red;
}

/* post layout */

.post {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 32px minmax(480px, 4fr) minmax(180px, 1fr);
  grid-gap: 24px 128px;
  grid-template-areas: 'header header issue' 'sharing body author' 'sharing body license';
}

.issue {
  height: 160px;
  width: 160px;
  grid-area: issue;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.issue__title {
  font-size: 0.933rem;
  margin-bottom: 0.1rem;
  text-transform: uppercase;
}

.issue__number {
  display: inline-block;
  color: darkred;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: -0.1em;
}

.issue__date {
  font-size: 1.16rem;
  letter-spacing: -0.03em;
}

.post__sharing {
  grid-area: sharing;
}

.post__sharing--header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  font-size: 0.8rem;
}

.post__sharing--button {}

.post__sharing--button--icon {
  margin: 8px 0 8px 0;
}

.post__sharing--button--text {}

.post__header {
  border: 0 0 1px 0 solid black;
  grid-area: header;
}

.post__header-date {
  font-weight: 400;
}

.post__header-title {
  color: rgba(50, 50, 50, 0.9);
  font-family: Playfair Display;
  font-size: 3.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.08em;
}

.post__author {
  grid-area: author;
}

.post__author-name {
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
}

.post__author-bio {
  margin: 10px 0;
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.post__author-picture {
  vertical-align: middle;
  filter: grayscale(1);
  margin: 0 0 1rem 0;
  border-radius: 2%;
  width: 75%;
  border: 1px solid darkgray;
}

.post__original-article {
  width: 30%;
}

.post__reference {}

.post__reference-citation {}

.post__reference-link {
  text-decoration: none;
}

.post__content {
  margin: 0 0 80px 0;
  color: #454545;
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6rem;
}

.post__content>p:first-of-type {
  color: #454545;
  font-family: Playfair Display;
  font-size: 1.6rem;
  font-weight: lighter;
  font-style: italic;
  line-height: 2rem;
}

.post__content>p:nth-of-type(2)::first-line {
  font-weight: 900;
}

.post__featured--image {
  grid-area: feature-image;
}

.post__content>h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
}

.post__content--italic {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid grey;
  font-weight: 100;
  font-style: italic;
}

.post__comments {
  min-height: 500px;
}

.footer {
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', -apple-system, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 400px;
  color: lightgray;
  background: rgb(134, 30, 30);
  font-size: 0.8rem;
}

.footer__section {}

.footer__header {
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 800;
}

.footer__seperator {
  border-top: 1px solid white;
}

.footer-container {}

.footer__main {
  margin: 0 auto;
  min-height: 300px;
  display: grid;
  grid-gap: 20px;
  padding-top: 40px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.footer__signup-form {
  width: 100%;
}

.footer__signup-form--submit-btn {
  outline: none;
  text-transform: uppercase;
  color: beige;
  height: 40px;
  width: 30%;
  background: #ff0303;
  border: none;
}

.footer__signup-form--email-input {
  outline: none;
  padding: 10px 12px 10px 12px;
  width: 70%;
  height: 40px;
  border: none;
  height: 40px;
}

.footer__credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 10px 0;
  background: rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
}

.footer__credits-copyright {}

.has-drop-cap::first-letter {
  font-weight: 900;
  padding: 0 10px 0 0;
  font-size: 5em;
  float: left;
  text-align: center;
  margin-top: 0.15em;
}

/* wordpress classes */

.wp-block-image {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 64px;
}

.wp-image-180,
.wp-image-181,
.wp-image-182,
.wp-image-183,
.wp-image-184 {
  border-radius: 3px;
}

/* utilities */

.hline {
  border-bottom: 1px solid darkgray;
  margin: 4px 0 8px 0;
  width: 100%;
}

.has-drop-cap::first-letter {
  font-weight: 900;
  padding: 0 24px 0 0;
  font-size: 128px;
  float: left;
  text-align: center;
  margin-top: 0.09em;
}

.site-mast {
  background: white;
  height: 81px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  z-index: 3;
}

.header {
  padding: 14px 80px 10px 80px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
}

.header__title {
  font-family: oswald, Helvetica, sans-serif;
}

figure.wp-block-image>img {
  margin: 0;
}

figure.wp-block-image>figcaption {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: left;
}

figure.wp-block-image>figcaption:before {
  font-weight: 200;
  content: 'Credit: ';
}